a {
	text-decoration: none;
}
.wrapper form {
	width: 290px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 150px;
	border: 1px solid #ccc;
	padding: 0 15px;
}
.wrapper label:first-child {
	margin-top: 15px;
}
.wrapper label {
	margin-top: 5px;
}
.wrapper input {
	margin-top: 5px;
}
.wrapper input:last-child {
	width: 100%;
	margin-bottom: 15px;
}
.wrapper input:last-child:hover {
	background: #ccc;
	color: red;
}
.wrapper-index {
	margin: 0 auto;
	width: 300px;
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
	border: 5px solid #ccc;
	padding: 35px;
}
.wrapper-index a {
	font-size: 35px;
	transition: 0.5s;
	text-transform: uppercase;
}
.wrapper-index a:first-child:hover {
	color: red;
	transform: scale(1.5);
}
.wrapper-index a:last-child:hover {
	color: green;
	transform: scale(1.5);
}
.massage {
	width: 30%;
    text-align: center;
	margin: 15px auto;
	color: #fff;
	background: green; 
}
.massage-error {
	color: white;
    text-align: center;
    background: red;
    width: 30%;
    margin: 0 auto;
}
